<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
    <mappers>
        <mapper resource="com/kris/prophecy/mapper/xml/UserMapper.xml"/>
        <mapper resource="com/kris/prophecy/mapper/xml/VirtualCurrencyMapper.xml"/>
        <mapper resource="com/kris/prophecy/mapper/xml/PostMapper.xml"/>
        <mapper resource="com/kris/prophecy/mapper/xml/MessageMapper.xml"/>
        <mapper resource="com/kris/prophecy/mapper/xml/InterfaceUsageMapper.xml"/>
    </mappers>
</configuration>